@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

/* Variables */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$white-background: rgb(246, 241, 241);
/* Buttons */
$blue-primary: rgb(25, 167, 206);
$blue-secondary: rgb(19, 134, 165);
$blue-shadow: rgba(25, 167, 206, 0.2);
/* Font */
$header1: 3rem;
$header2: 2rem;
$font-color: rgb(20, 28, 58);
/* Footer */
$footer-backround: rgb(31, 31, 31);

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  background: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
  background: rgb(121, 121, 121);
}




/**
 * ^Initial Page Loading Element
 */
.loading {
  height: 100vh;
  width: 100vw;
  background: $black;
  position: fixed;
  overflow: hidden;
  animation: loadingFade 400ms;
}



/**
 * ^Navigation Bar
 */
/* .nav {
  background: $black;
  width: 100%;
  padding: 0;
  top: 0;
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  &__item {
    height: 50px;
    width: 150px;
    margin: 20px 0 20px 20px;
    float: left;
    border: solid 3px $blue-primary;
    border-radius: 2rem;
    background-color: $black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    animation: fadeDown 200ms ease-out 0ms backwards;
    &:hover {
      cursor: pointer;
      background: $blue-primary;
      box-shadow: 0 0 10px 15px $blue-shadow;
    }
  }
  &__link {
    height: 50px;
    width: 150px;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    line-height: 50px;
    display: block;
    color: $white;
    transition: 0.2s;
    border-radius: 2rem;
    border: solid 3px $blue-primary;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: $black;
      cursor: pointer;
      background: $blue-primary;
      box-shadow: 0 0 10px 15px $blue-shadow;
    }
  }
} */



/**
 * ^About Section
 */
.about {
  padding: 40px 0 0 0;
  margin: 0;
  text-align: center;
  color: $white;
  background: $black;
  display: flex;
  justify-content: center;
  &__container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0;
    font-size: 2.4rem;
    font-family:"K2D", sans-serif;
    animation: fadeUp 200ms ease-out 200ms backwards;
  }
  &__description {
    max-width: 500px;
    padding: 20px 0;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6em;
    letter-spacing: -1px;
    word-spacing: 2px;
    animation: fadeUp 200ms ease-out 300ms backwards;
  }
  &__resume {
    height: 50px;
    width: 200px;
    margin: 20px 0;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    line-height: 50px;
    display: block;
    color: $white;
    transition: 0.2s;
    border-radius: 2rem;
    border: solid 3px $blue-primary;
    text-decoration: none;
    text-align: center;
    animation: fadeUp 200ms ease-out 400ms backwards;
    &:hover {
      color: $white;
      cursor: pointer;
      background: $blue-primary;
      box-shadow: 0 0 10px 15px $blue-shadow;
    }
  }
  &__skills {
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
    margin: 0;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33%);
    gap: 20px 0;
    animation: fadeUp 200ms ease-out 500ms backwards;
  }
  &__skill {
    &__img {
      height: 50px;
      width: 50px;
    }
    &__title {
      margin: 0;
    }
  }
  &__canvas {
    /* height: 100px; */
    width: 100%;
    max-width: 600px;
    aspect-ratio: 4 / 1;
  }
}



/**
 * ^Main Section
 * 
 * ^banner, projects, and certs
 */
.main {
  background: $black;
  &__container {
    display: flex;
    flex-direction: column;
    animation: fadeUp 200ms ease 750ms backwards;
  }
  &__banner {
    height: 40px;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  &__title {
    min-width: 240px;
    background: $white-background;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
      padding: 20px 0;
      margin: 0;
      color: $font-color;
      font-size: 2.4rem;
      font-family:"K2D", sans-serif;
      letter-spacing: 1px;
    }
  }
  &__projects {
    width: 100%;
    padding: 0 0 80px 0;
    background-color: $white-background;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__project {
    max-width: 380px;
    padding: 40px 25px;
    border-radius: 0.8rem;
    color: $font-color;
    text-align: center;
    opacity: 0;
    &__img {
      height: 200px;
      width: 100%;
      max-width: 300px;
      margin: auto;
      border-radius: 0.8rem;
      box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    }
    &__info {
      min-height: 62px;
      width: 100%;
      padding: 20px 0 0 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 1.6rem;
      margin: 0;
      position: relative;
      font-family:"K2D", sans-serif;
    }
    &__description {
      max-width: 500px;
      font-size: 1.2rem;
      word-spacing: 2px;
      letter-spacing: -1px;
      line-height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__button {
      height: 55px;
      width: 200px;
      margin: 0 0 20px 0;
      font-size: 1.4rem;
      font-family: "Ubuntu", sans-serif;
      line-height: 50px;
      display: block;
      color: $font-color;
      background: $white-background;
      transition: 0.2s;
      border-radius: 2rem;
      border: solid 3px $blue-primary;
      text-decoration: none;
      text-align: center;
      animation: fadeUp 200ms ease-out 600ms backwards;
      &:hover {
        color: $white;
        cursor: pointer;
        background: $blue-primary;
        box-shadow: 0 0 10px 15px $blue-shadow;
      }
    }
    &__animate {
      animation-name: fadeIn;
      animation-duration: 600ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 600ms;
      -moz-animation-name: fadeIn;
      -moz-animation-duration: 600ms;
      -o-animation-name: fadeIn;
      -o-animation-duration: 600ms;
    }
  }
  &__title--2 {
    border-top: 2px solid rgb(220, 220, 220);
    padding: 40px 0 0 0;
  }
  &__certificates {
    background: $white-background;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__certificate {
    width: 85%;
    max-width: 300px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
    &__img {
      object-fit: contain;
      width: 100%;
      box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    }
    &__title {
      font-size: 1.6rem;
      font-family:"K2D", sans-serif;
      text-align: center;
      padding: 15px 0;
      margin: 0;
    }
    &__link {
      font-size: 1.2rem;
      text-decoration: none;
      color: $font-color;
      position: relative;
      transition: all 100ms ease-in-out;
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        height: 3px;
        background-color: $blue-primary;
        transform: scaleX(0);
        transition: transform 100ms ease-in-out;
      }
      &:hover {
        color: $blue-primary;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}



/**
 * ^Footer
 * 
 * 
 */
.footer {
  width: 100%;
  padding: 26px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__socials {
    /* Social Links (Buttons) */
    height: 40px;
    width: 50%;
    max-width: 260px;
    margin: 0 0 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link { /* Icons */
      height: 40px;
      width: 40px;
      margin: 0;
      color: #fff;
      border-radius: 6px;
      text-align: center;
      text-decoration: none;
      line-height: 40px;
      font-family: fontawesome;
      position: relative;
      display: inline-block;
      -o-transition: all .35s;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
      -webkit-font-smoothing: antialiased;
      &:hover span { /* text pops up when icon hovered */
          bottom: 50px;
          visibility: visible;
          opacity: 1;
      }
      /* Font Awesome icons */
      &:nth-of-type(1):before {content: '\f003';}
      &:nth-of-type(2):before {content: '\f0e1';}
      &:nth-of-type(3):before {content: '\f113';}
      & span { /* pop-up text */
          color: black;
          position: absolute;
          font-family: sans-serif;
          bottom: 0;
          left: -25px;
          right: -25px;
          padding: 5px 7px;
          z-index: 1;
          font-size: 14px;
          border: solid 2px #1f1f1f;
          border-radius: 3px;
          background: #f5f5f5;
          visibility: hidden;
          opacity: 0;
          line-height: normal;
          -o-transition: all .35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -webkit-transition: all .35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -moz-transition: all .35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all .35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          &:before { /* pop-up text arrow */
              content: '';
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #fff;
              position: absolute;
              bottom: -5px;
              left: 40px;
          }
      }
  }
  &__credits {
    width: 80%;
    max-width: 500px;
    color: white;
    margin: 0 0 26px 0;
    &__container {
      width: 200px;
      display: flex;
      flex-direction: column;
    }
    &__title {
      margin: 0;
      font-size: 1.3rem;
    }
    &__row {
      width: 120px;
      margin: 6px 0;
    }
    &__link {
      height: 26px;
      color: rgb(168, 168, 168);
      line-height: 26px;
      text-decoration: none;
      &:hover {
        color: $blue-secondary;
        text-decoration: underline;
      }
    }
  }
  &__row {
    width: 90%;
    max-width: 500px;
    margin: 0 0 26px 0;
  }
  &__copyright {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15px;
    color: #fff;
  }
}
/* Social Link Colors */
.email {background: #8a2be2;}
.email:hover {background: #a871db;}
.linkedin {background: #378fe9;}
.linkedin:hover {background: #7eaedd;}
.github {background: #333333;}
.github:hover {background: #575757;}




/**
 * ^Media Queries
 * ^For Scaling and Responsiveness
 */
@media only screen and (min-width: 850px) {
  /* Desktop */
  .about {
    padding: 100px 0 0 0;
    &__container {
      max-width: 1000px;
    }
    &__title {
      font-size: $header1;
    }
    &__description {
      max-width: 100%;
      padding: 20px 100px;
      font-size: 1.4rem;
    }
    &__skills {
      font-size: 1.2rem;
    }
    &__canvas {
      height: 150px;
      width: 600px;
    }
  }

  .main {
    &__banner {
      height: 120px;
    }
    &__title {
      height: 140px;
      &__text {
        font-size: $header1;
      }
    }
    &__projects {
      &__container {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33%);
      }
    }
    &__project {
      max-width: 100%;
      padding: 40px auto;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        height: 300px;
        width: 450px;
        max-width: 100%;
        margin: 0;
      }
      &__info {
        margin: 0;
      }
      &__title {
        font-size: $header2;
        margin: 0;
      }
      &__description {
        height: 120px;
        width: 100%;
        font-size: 1.2rem;
        margin: 0;
        padding: 16px;
      }
    }
    &__certificates {
      padding: 0 0 40px 0;
    }
    &__certificate {
      width: 600px;
      max-width: 600px;
      &__img {
        width: 100%;
      }
      &__title {
        font-size: $header2;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 880px) {
  .main {
    &__project {
      &__description {
        height: 130px;
      }
    }
  }
}




/**
 * ^Keyframe Animations
 */
@keyframes loadingFade {
  from {background: $white;};
  to {background: $black;};
}
@-webkit-keyframes loadingFade {
  from {background: $white;};
  to {background: $black;};
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(20px);
    };
  to {
      opacity: 1;
      transform: none;
    };
}
@-webkit-keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(20px);
    };
  to {
      opacity: 1;
      transform: none;
    };
}
@keyframes fadeDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
    };
  to {
      opacity: 1;
      transform: none;
    };
}
@-webkit-keyframes fadeDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
    };
  to {
      opacity: 1;
      transform: none;
    };
}